DECLARE @db_id int
SET @db_id = DB_ID(N'CW2');

IF @db_id IS NOT NULL
BEGIN
	print 'Существующая база CW2 Удалена'
	DROP DATABASE CW2
END

CREATE DATABASE CW2
GO

USE CW2
GO

CREATE TABLE Cars  (CarID int primary key, RegNo nvarchar(50), ProdYear int, CarRun float, ModelID int)
INSERT INTO Cars VALUES (1 , 'T567OP190', 2014, 50232, 1)
INSERT INTO Cars VALUES (2 , 'K804YA197', 2015, 46656, 1)
INSERT INTO Cars VALUES (3 , 'O583AA190', 2015, 43654, 1)



CREATE TABLE CarsModel  (ModelID int primary key, Model nvarchar(100), ClassID int)
INSERT INTO CarsModel VALUES (1 , 'Renault Logan II 1.4 MT', 1)
INSERT INTO CarsModel VALUES (2 , 'KIA RIO III 1.4 MT', 1)
INSERT INTO CarsModel VALUES (3 , 'Hyundai Solaris 1.6 MT', 2)



CREATE TABLE ClassTariff  (ClassID int, TariffID int, PriceRur_per_day float, primary key (ClassID, TariffID))
INSERT INTO ClassTariff VALUES (1 , 1, 2000)
INSERT INTO ClassTariff VALUES (1 , 2, 1800)
INSERT INTO ClassTariff VALUES (1 , 3, 1750)



CREATE TABLE Tariff  (TariffID int primary key, Tariff nvarchar(100), MinDays int, MaxDays int)
INSERT INTO Tariff VALUES (1 , 'no more 1 day tariff', 0, 1)
INSERT INTO Tariff VALUES (2 , 'from 1 to 3 days tariff', 1, 3)
INSERT INTO Tariff VALUES (3 , 'from 3 to 5 days tariff', 3, 5)




CREATE TABLE CarsClass  (ClassID int primary key, Class nvarchar(50))
INSERT INTO CarsClass VALUES (1 , 'Ecomony')
INSERT INTO CarsClass VALUES (2 , 'Comfort')
INSERT INTO CarsClass VALUES (3 , 'Moderate')



CREATE TABLE Clients  (ClientID int primary key, Client nvarchar(50), DLN nvarchar(50))
INSERT INTO Clients VALUES (1 , 'Petrov WE', '50 TT 506545')
INSERT INTO Clients VALUES (2 , 'Sidorov IR', '50 PK 105345')
INSERT INTO Clients VALUES (3 , 'Ivanova SP', '77 CT 345678')




CREATE TABLE Orders  (OrdID int primary key, OrdDate datetime, ModelID int, DBegin datetime, DEnd datetime, Telephone nvarchar(50))
INSERT INTO Orders VALUES (1 , '20171120 08:59:37', 6, '20171123 00:00:00', '20171203 00:00:00', '+7-800-000-7972')
INSERT INTO Orders VALUES (2 , '20171020 00:27:13', 2, '20171021 00:00:00', '20171027 00:00:00', '+7-800-000-8139')
INSERT INTO Orders VALUES (3 , '20170901 09:22:52', 8, '20170901 00:00:00', '20170912 00:00:00', '+7-800-000-6548')








CREATE TABLE Bills  (BillID int primary key, BillDate datetime, OrdID int unique not null, ClientID int, ModelID int, DBegin datetime, NumDays int, TariffID int, PriceRur_per_day float, PmntRur float)
INSERT INTO Bills VALUES (1 , '20171120 15:23:37', 1, 20, 6, '20171123 00:00:00', 11, 5, 2700, 29700)
INSERT INTO Bills VALUES (2 , '20171020 07:39:13', 2, 10, 2, '20171021 00:00:00', 7, 4, 1700, 11900)
INSERT INTO Bills VALUES (3 , '20170831 15:46:52', 3, 12, 8, '20170901 00:00:00', 12, 5, 4500, 54000)






CREATE TABLE CarsActData  (BillID int primary key, CarID int, DTBegin datetime, CRBegin float, DTEnd datetime, CREnd float)
INSERT INTO CarsActData VALUES (1 , 20, '20171123 12:01:30', 40528, '20171203 15:08:46', 40656)
INSERT INTO CarsActData VALUES (2 , 5, '20171021 09:31:39', 45545, '20171027 17:19:18', 45684)
INSERT INTO CarsActData VALUES (3 , 12, '20170901 07:22:00', 17978, '20170912 19:26:47', 18195)



/*
Если база не появилась в дереве в левой панели (Object Explorer), то 
	- сверните дерево Баз 
	- и нажмите на кнопку обновления в верхней части этой панели
	- база должна появиться в списке.
*/

-- в отдельном окне для запроса попробуйте написать запросы к этой таблице
